
/* code */
/* potim vudalutu hidden z classiv */
body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #434455
}

li {
    list-style-type: none;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

a {
    text-decoration: none;
    color: #2E2F42;
    color: #404BBF;
    color: black;
    text-align: left;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 4%;
}

a:hover {
    color: #404BBF;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 0;
    margin-top: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3 {
    margin-bottom: 0;
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* container */
.container {
    width: 320px;
    padding: 0 16px 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px 0 15px;
    }
}

/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.headers-test {
    display: flex;
    width: 320px;
    padding: 0 16px 0 16px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width:768px) {
    .headers-test {
        width: 768px;
        justify-content: none;
    }
}

@media screen and (min-width: 1158px) {
    .headers-test {
        width: 1158px;
        padding: 0 15px 0 15px;
    }
}

.head-ul,
.addres-header {
    display: none;
}

.web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.webstudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    padding: 16px 0;
    display: block;
}

.happy-six-dz {
    padding: 0;
    border: none;
    background-color: transparent;
}

.happy-dz-svg {
    display: block;
    fill: #2f2f37;
}

button {
    cursor: pointer;
}

.head-ul:hoover {
    color: #404bbf;
}

.head-ul:focus {
    color: #404bbf;
}

@media screen and (min-width: 768px) {
    .happy-six-dz {
        display: none;
    }

    .head-ul {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        gap: 12px;
    }

    .head-ul-email {
                font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #2e2f42;
                    display: block;
                    gap: 12px;
    }
    .head-ul-email:hover {
         color: #404bbf;
    }

    .head-ul-email:focus {
        color: #404bbf;
    }

    .addres-header {
        font-style: normal;
        display: block;
    }

    .navig {
        display: flex;
        align-items: center;
    }

    .webstudio {
        padding: 24px 0;
        margin-right: 120px;
    }

    .class-of-the-ul {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #2e2f42;
        line-height: 1.5;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .class-of-the-ul:focus {
        color: #404bbf;
    }

    .class-of-the-ul.dodatcovi {
        position: relative;
        color: #404BBF;
    }

    .class-of-the-ul.dodatcovi::after {
        content: "";

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .atribyte-addres {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .atribyte-addres:focus {
        color: #404bbf;
    }

    .atribyte-addres:hover {
        color: #404bbf;
    }

}

@media screen and (min-width: 1158px) {
    .webstudio {
        margin-left: 76px;
    }

    .head-ul {
        flex-direction: row;
        gap: 40px;
    }
   .head-ul-email {
                    font-weight: 500;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                        color: #2e2f42;
                        display: flex;
                        gap: 12px;
   }
}





.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.night-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
}

.foot-buttonnn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.visually-hidden:checked+.my-nervous-is-zero+.span-on-footer {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.foot-button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-button:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.foot-button:focus {
    border: none;
    background-color: #404bbf;
    fill: #ffffff;
}

.mobile-menu-container {
    position: relative;
}

@media screen and (min-width: 320px) {
    .mainbuttoning {
        background-color: #2E2F42;
        padding: 188px 0;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/new/new-one.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 1440px;
        background-position: center;
        margin: 0 auto;
    }

    .solutions {
        color: #ffffff;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 216px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 72px;
    }

    .button {
        background-color: #4D5AE5;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 16px 32px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition: 0.4s;
        min-width: 169px;
        height: 56px;
        border: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button:hover {
        background-color: #404BBF;
    }

    .button:focus {
        background-color: #404BBF;
    }

    .button-text {
        color: white;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 4%;
    }
}











@media screen and (min-width: 768px) {
    .mainbuttoning {
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/new/Dark-bg.jpg);
    }
                .solutions {
                    color: #ffffff;
                    text-align: center;
                    font-size: 56px;
                    font-weight: bold;
                    line-height: 1.07;
                    letter-spacing: 0.02em;
                    max-width: 496px;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 36px;
                }
}
@media screen and (min-width: 1158px) {
    .mainbuttoning {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);;
    }
}








@media screen and (min-width: 320px) {
    .dontforgetforthisdiv {
        display: none;
    }

    .strategy {
        display: block;
        margin-top: 72px;
    }

    .p-on-second-section {
        font-weight: 400;
    }
}

@media screen and (min-width: 1158px) {
    .strategy {
        margin-bottom: 8px;
        margin-top: 0;
    }
.dontforgetforthisdiv {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    display: flex;
    align-items: center;
    justify-content: center;
        margin-bottom: 8px;
                        margin-top: 72px;
}






/* aloooooooooooooooooooooooooooooooooooooooooooooooooooooooo */






.test-uls {
    display: flex;
    gap: 24px;
}

.test-lis {
    width: calc((100% - 72px) / 4);
}








/* aloooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */






}
/* section our team */
@media screen and (min-width: 1158px) {
    .sec-thir-sections {
        text-align: center;
    }
        .our-team {
            background-color: #F4F4FD;
            padding: 120px 0;
        }
                .ul-third-section {
                    background-color: #F4F4FD;
                    display: flex;
                    justify-content: center;
                    gap: 24px;
                    display: flex;
                }
                                .bankingapp {
                                    text-align: center;
                                }
  .kryta-ulka {
      display: flex;
      gap: 24px;
      padding-left: 12px;
      justify-content: center;
  }
  .mytestli {
      background-color: #4D5AE5;
      width: 40px;
      height: 40px;
      border-radius: 24px;
  }
.ashka {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ashka:hover {
    background-color: #404bbf;
}

.ashka:focus {
    background-color: #404bbf;
}
.guerrego {
    padding: 32px 0;
}
.ashka {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ashka:hover {
    background-color: #404bbf;
}

.ashka:focus {
    background-color: #404bbf;
}
.four-section-p {
    text-align: center;
}
.sec-svg-img {
    fill: #f4f4fd;
}
}

















/* stop 2 section */









@media screen and (min-width: 320px) {
    .sec-thir-sections {
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #2e2f42;
            background-color: #F4F4FD;
            margin-bottom: 72px;
        }
    
        .our-team {
            background-color: #F4F4FD;
            padding: 120px 0;
        }
    
        .ul-third-section {
            background-color: #F4F4FD;
            justify-content: center;
            gap: 24px;
        }
    
        .bankingapp {
            text-align: center;
        }
    
        .kryta-ulka {
            display: flex;
            gap: 24px;
            padding-left: 12px;
            justify-content: center;
        }
    
        .mytestli {
            background-color: #4D5AE5;
            width: 40px;
            height: 40px;
            border-radius: 24px;
            display: flex;
        }
    
        .ashka {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            display: flex;
        }
    
        .ashka:hover {
            background-color: #404bbf;
        }
    
        .ashka:focus {
            background-color: #404bbf;
        }
    
        .guerrego {
            padding: 32px 0;
            background-color: #fff;
        }
    
        .ashka {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .ashka:hover {
            background-color: #404bbf;
        }
    
        .ashka:focus {
            background-color: #404bbf;
        }
    
        .four-section-p {
            text-align: center;
        }
    
        .sec-svg-img {
            fill: #f4f4fd;
        }
}
@media screen and (min-width: 1158px) {
    .portfolio {
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #2e2f42;
            margin-bottom: 72px;
        }
                .secret-ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 48px 24px;
                }
        
                .secret-li {
                    width: calc((100% - 48px) / 3);
                    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
                                .secret-img-div {
                                    position: relative;
                                    overflow: hidden;
                                }
                                                                .peshka {
                                                                    position: absolute;
                                                                    top: 0;
                                                                    font-size: 16px;
                                                                    line-height: 1.5;
                                                                    letter-spacing: 0.02em;
                                                                    color: #f4f4fd;
                                                                    padding: 40px 32px;
                                                                    height: 100%;
                                                                    width: 100%;
                                                                    transform: translateY(100%);
                                                                    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                                                    background-color: #4d5ae5;
                                                                }
                                   .appscontainer {
                                       padding: 32px 16px;
                                       border: 1px solid #e7e9fc;
                                       border-top: none;
                                   }
}
@media screen and (min-width: 320px) {
    .portfolio {
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #2e2f42;
            margin-bottom: 72px;
        }
    
        .secret-ul {
            display: flex;
            flex-wrap: wrap;
            gap: 48px 24px;
        }
    
        .secret-li {
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .secret-img-div {
            position: relative;
            overflow: hidden;
        }
    
        .peshka {
            position: absolute;
            top: 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            padding: 40px 32px;
            height: 100%;
            width: 100%;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            background-color: #4d5ae5;
        }
                .appscontainer {
                    padding: 32px 16px;
                    border: 1px solid #e7e9fc;
                    border-top: none;
                }
}
@media screen and (min-width: 1158px) {
    footer {
            background-color: #2E2F42;
            padding: 100px 0;
        }
.p-on-footer {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.5;
    color: #f4f4fd;
}
}
.studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.5;
    color: #f4f4fd;
}
.text-on-footer {
    display: inline-block;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 16px;
}

footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.p-on-footer {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.webstudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px
}



.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}


.secret-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}


@media screen and (min-width: 1158px) {
.secret-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.secret-li {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
.testsixty {
box-shadow: 0px 1px 3px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
img {
    width: 100%;
}
.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.foot-ul {
    display: flex;
    gap: 16px;
}
.street-li {
    width: 40px;
    height: 40px;
}

.footerova-ashka {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footerova-ashka:hover {
    background-color: #31d0aa;
}

.footerova-ashka:focus {
    background-color: #31d0aa;
}
.svg-footer {
    fill: #f4f4fd;
}





@media screen and (min-width: 768px) {
    .page-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .form-footer {
        display: flex;
    }
}










@media screen and (min-width: 1158px) {
.page-footer {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: unset;
}
.footers-div {
    margin-right: 80px;
}
.footers-div-two {
    margin-right: 80px;
}
.please-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}
}
@media screen and (min-width: 1158px) {
.form-footer {
    display: flex;
    gap: 24px;
}
.form {
    display: block;
}
}
.my-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.my-input::placeholder {
    color: #ffffff;
}
.peshka {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
}
.peshka:hover {
    transform: translateY(0%);
}
.secret-li:hover .peshka {
    transform: translateY(0%);
}
.new-class {
    margin-bottom: 8px;
}
.appscontainer {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.foured-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
@media screen and (max-width: 768px) {
    .text-on-footer, .studio {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .social-media {
        margin-top: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .foot-ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .foot-buttonnn {
            min-width: 165px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            background-color: #4D5AE5;
            border: none;
            border-radius: 4px;
        }
}
.foot-buttonnn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
















/*      modalka */
.modalka {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1158px) {
.modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 408px;
        height: 584px;
        background-color: #fcfcfc;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transform: translate(-50%, -50%);
        min-height: 584px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
    }
}

.modal {
    width: 288px;
    height: 623px;
    position: absolute;
        top: 50%;
        left: 50%;
        background-color: #fcfcfc;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transform: translate(-50%, -50%);
        min-height: 584px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
}


.modalka.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.foot-button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-button:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.foot-button:focus {
    border: none;
    background-color: #404bbf;
    fill: #ffffff;
}

.svg-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-modal:hover {
    fill: #ffffff;
}

.svg-modal:focus {
    fill: #ffffff;
}
.paragraphochok {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.divs-form {
    margin-bottom: 8px;
}

.labelka {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.divka {
    position: relative;
}
.input-one {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.input-one:focus {
    border-color: #4D5AE5;
}

.x-one {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-one:focus+.x-one {
    fill: #4D5AE5;
}

.x-one:focus {
    fill: #4D5AE5;
}
.stereo {
    margin-bottom: 16px;
}

.textarea-first {
    width: 100%;
    height: 120px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
}

.textarea-first:focus {
    border-color: #4D5AE5;
}

.divs-thouth {
    margin-bottom: 24px;
}
.my-nervous-is-zero {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.span-on-footer {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.visually-hidden:checked+.my-nervous-is-zero+.span-on-footer {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.two-ahkas {
    color: #4d5ae5;
}

.night-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
}






/* mobilka */
/* menushka */
.mobile-menu {
    width: 100%;
    height: 100%;
}
 .mobile-ul {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 40px;
} 
.li-mobile {
        margin-top: 40px;
}
.class-of-the-mobile {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    transition: 0.4s;
    /* we can dont use transition for phone users */
}
.class-of-the-mobile:hover {
    color: #4D5AE5;
}
 .head-mobile {
    margin-top: 168px;
} 
/* .li-mobile-two {
    padding-top: 16px;
}  */
.atribyte-mobile {
            /* margin-top: 24px;  */
            font-weight: 500;
                font-size: 16px;
                letter-spacing: 0.02em;
                color: #2e2f42;
                line-height: 1.5; 
                display: block;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.atribyte-mobile:hover {
    color: #4D5AE5;
}
.mobilochka {
    padding-top: 40px;
}





/* planshet */
@media screen and (min-width: 768px) {
    .test-uls {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .test-lis {
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .test-uls {
        gap: 24px;
        flex-wrap: nowrap;
    }
    .test-lis {
        width: calc((100% - 72px) / 4);
    }
}
@media screen and (min-width: 768px) {
.ul-third-section {
        background-color: #F4F4FD;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        display: flex;
    }
.testsixty {
    margin-bottom: 72px;
}    
}
@media screen and (min-width: 320px) {
    .test-uls {
        margin-bottom: 96px;
        margin-top: 96px;
    }
}
@media screen and (min-width: 768px) {
                    .secret-ul {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 48px 24px;
                        }
                    
                         .secret-li {
                            width: calc((100% - 48px) / 2);
                            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                        }
                        .test-uls {
                            margin-bottom: 96px;
                            margin-top: 96px;
                        } 
}
@media screen and (min-width: 1158px) {
                    .secret-ul {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 48px 24px;
                        }
                    
                        .secret-li {
                            width: calc((100% - 48px) / 3);
                            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                        }
                        .test-uls {
                            margin-bottom: 120px;
                            margin-top: 120px;
                        }
}
@media screen and (max-width: 768px) {
    .strategy {
        text-align: center;
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
    }
}
@media screen and (min-width: 768px) {
    .strategy {
        text-align: none;
        justify-content: none;
    }
}
@media screen and (min-width: 1158px) {
    .strategy {
    font-weight: 500;
    font-size: 20px;
    }
}
@media screen and (min-width: 320px) {
    .our-team {
        margin-top: 96px;
    }
    .testsixty {
        margin-bottom: 72px;
    }
    .mobile-menu {
        z-index: 999;
    }
    .li-mobile {
        padding-top: 72px;
    }
    .atribyte-mobile {
        font-style: normal;
    }
}
@media screen and (min-width: 768px) {
    .li-first-twous {
        padding-left: 40px;
    }
    .testsixty {
        margin-bottom: 0;
    }
}



















@media screen and (min-width: 320px) {
    .foot-buttonnn {
       margin-left: auto;
       margin-right: auto;
        margin-top: 16px;
    }
}
@media  screen and (min-width: 768px) {
    .foot-buttonnn {
        margin-left: 24px;
        margin-right: 0;
        margin-top: 0;
    }
}
